NODE_ENV=development
HOST=127.0.0.1
PORT=3000
DATABASE_PATH=./storage/donativoseguro.sqlite
JWT_SECRET=GENERAR_CON_NPM_RUN_CONFIGURE
SETUP_TOKEN=GENERAR_CON_NPM_RUN_CONFIGURE
PUBLIC_ORIGIN=http://127.0.0.1:3000
TRUST_PROXY=0
